@charset "UTF-8";
/*Position des pseudo-éléments*/
/*Media queries*/
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

section {
  padding: 2rem 1.5rem;
  height: auto;
}
@media screen and (min-width: 768px) {
  section {
    padding: 2rem 2rem;
  }
}
@media screen and (min-width: 1024px) {
  section {
    padding: 2rem 2.5rem;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.heading {
  font-family: "Shrikhand", cursive, sans-serif;
}

h1, h2 {
  font-size: 1.7em;
}
@media screen and (min-width: 768px) {
  h1, h2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1024px) {
  h1, h2 {
    font-size: 2.4em;
  }
}

h3 {
  font-size: 1.2em;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 1.8em;
  }
}

h4 {
  font-size: 1em;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: unset;
}

/*Les boutons type submit*/
.btn {
  padding: 1rem 1rem;
  color: white;
  background: linear-gradient(-10deg, #9356dc, #ff79da);
  border-radius: 30px;
  box-shadow: 0px 5px 10px 2px rgba(156, 156, 156, 0.3);
  position: relative;
  opacity: 1;
  transition: opacity 200ms;
}
.btn--submit {
  padding: 1rem 3.5rem;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 7px 10px 2px rgba(156, 156, 156, 0.6);
}

.card {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  margin: 0.5rem auto;
  position: relative;
  box-shadow: 0px 5px 10px 2px rgba(156, 156, 156, 0.3);
}
.card__img {
  width: 100%;
  height: 70%;
}
.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.card__txt {
  margin: 0;
}
.card__title {
  padding-bottom: 0.2rem;
}
.card__logo {
  margin-right: 10px;
}
.card .spe {
  position: absolute;
  right: 0;
  top: 0;
}
.card:hover {
  box-shadow: 0px 7px 10px 2px rgba(156, 156, 156, 0.6);
}
@media screen and (min-width: 768px) {
  .card {
    width: 45%;
    /* si plus de 4 restaurants on fixera une 
    max-width en px*/
  }
}

/*Les puces chiffre dans cercle*/
.puce, .item__puce {
  background: #9356dc;
  color: white;
  font-weight: 300;
  font-size: 0.9rem;
  height: 25px;
  width: 25px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: #f6f6f6;
  max-width: 280px;
  padding: 1.5rem;
  margin: 1.5rem auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 10px 2px rgba(156, 156, 156, 0.3);
}
.item__puce {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
}
.item i {
  font-size: 1.3rem;
  margin: 0 1rem;
  color: grey;
}
.item ::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 20px;
  background: #efe6fa;
  opacity: 0;
}
.item:hover ::after {
  opacity: 1;
}
.item:hover i {
  color: #9356dc;
}
@media screen and (min-width: 768px) {
  .item {
    margin: 1.5rem 0.4rem;
  }
}

/*item d'indication spécifique comme "nouveau"*/
.spe {
  background: #99e2d0;
  color: #278870;
  font-size: 14px;
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 2px;
  font-weight: bold;
}

/* Icône coeur*/
.icon-heart {
  font-size: 25px;
}
.icon-heart .far {
  position: absolute;
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}
.icon-heart .fa {
  display: block;
  background: -webkit-linear-gradient(bottom, #ff79da 30%, #9356dc 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transform-origin: center 100%;
  transition: transform 250ms linear;
}
.icon-heart:hover > .far {
  opacity: 0;
}
.icon-heart:hover > .fa {
  transform: scale(1);
  animation: heartpulse 150ms 250ms ease-in-out 2;
}

@keyframes heartpulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes anim-gradient {
  0% {
    background-position: 0% 50%;
    animation-timing-function: cubic-bezier(0.76, 0, 0.45, 1);
  }
  100% {
    background-position: 50% 100%;
    animation-timing-function: cubic-bezier(0.26, 0, 0.15, 0.84);
  }
}
@keyframes anim-oh {
  50% {
    transform: scale(6.5) translateX(30%);
    animation-timing-function: cubic-bezier(0, 0.99, 1, 0.99);
  }
  85% {
    transform: scale(6.5) translateX(30%);
  }
}
@keyframes anim-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anim-myfood {
  0% {
    opacity: 0.4;
  }
  5%, 100% {
    opacity: 1;
  }
}
@keyframes anim-opacity {
  5%, 100% {
    opacity: 1;
  }
}
.load {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load__ring {
  border: 3px solid transparent;
  border-color: transparent #9356dc transparent #ff79da;
  border-radius: 50%;
  width: 310px;
  height: 310px;
  opacity: 0;
  animation: anim-ring 1000ms 800ms ease-in infinite, anim-opacity 2700ms 800ms ease-out;
}

.load__logo {
  display: flex;
  font-size: 42px;
  margin: 1rem;
  position: absolute;
}
.load__logo__oh {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: repeating-linear-gradient(120deg, #ff79da 5%, #9356dc 12%, #ff79da 18%);
  background-size: 500% 500%;
  opacity: 0;
  animation: anim-gradient 2s infinite alternate, anim-oh 300ms, anim-opacity 3500ms ease-out;
}
.load__logo__myfood {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: repeating-linear-gradient(120deg, #ff79da 5%, #9356dc 12%, #99e2d0 16%, #ff79da 18%);
  background-size: 500% 500%;
  padding-right: 1rem;
  opacity: 0;
  animation: anim-gradient 1500ms infinite alternate, anim-myfood 2975ms 525ms ease-in-out;
}

.header {
  height: auto;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header--page {
  justify-content: space-between;
}
.header--page i {
  font-size: 20px;
  margin-left: 20px;
}

.footer {
  background: #353535;
  color: white;
  padding: 2rem 1.5rem;
  height: auto;
}
.footer__ul {
  list-style: none;
  margin-top: 1rem;
}
@media screen and (min-width: 1024px) {
  .footer__ul {
    display: flex;
    justify-content: space-between;
  }
}
.footer li {
  padding: 0.2rem;
}
.footer li i {
  width: 15px;
  font-size: 15px;
  padding-right: 25px;
}
.footer li__heading {
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .footer li {
    display: inline-block;
    padding: 0.2rem 1rem 0.2rem 0;
  }
}

main {
  animation: opacity-main 0ms both;
  animation-delay: 3500ms;
}

@keyframes opacity-main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.localisation {
  background: #eaeaea;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 4px 9px -6px #9c9c9c;
}
.localisation__txt {
  border: 0;
  background: #eaeaea;
  font-size: 1.1rem;
  text-align: center;
  outline: none;
}

.intro {
  background: #f6f6f6;
  text-align: center;
}
.intro h1 {
  padding: 1rem 3rem;
}
.intro div {
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .liste-fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.liste-restaurants {
  background: #f6f6f6;
}
.liste-restaurants h1 {
  margin-bottom: 1rem;
}
.liste-restaurants .liste-cards {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .liste-restaurants .liste-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.heading-section {
  width: 100%;
  height: 300px;
  position: relative;
}
.heading-section__bg {
  width: 100%;
  height: 100%;
}
.heading-section__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heading-section__contain {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 15%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px 40px 0 0;
  padding: 3rem 2rem 1rem 2rem;
}
.heading-section__contain i {
  font-size: 1.5rem;
}

@keyframes animplats {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animsubtitle {
  0% {
    transform: translateX(-110%);
  }
}
@keyframes animsubtitle-tablette {
  0% {
    opacity: 0;
  }
}
@keyframes animhr {
  0% {
    transform: scaleX(0);
  }
}
.menu {
  background-color: #f6f6f6;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .menu-contain {
    display: flex;
    justify-content: space-between;
  }
}
.menu-part {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .menu-part {
    width: 32%;
  }
}
.menu-part__subtitle {
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  animation: animsubtitle 300ms both;
}
@media screen and (min-width: 768px) {
  .menu-part__subtitle {
    font-size: 1.4rem;
    animation: animsubtitle-tablette 300ms both;
  }
}
.menu-part__subtitle--1 {
  animation-delay: 460ms;
}
.menu-part__subtitle--2 {
  animation-delay: 760ms;
}
.menu .hr {
  background-color: #99e2d0;
  width: 40px;
  height: 3px;
  border: none;
  transform-origin: left;
  animation: animhr 115ms both;
}
.menu .hr--0 {
  animation-delay: 90ms;
}
.menu .hr--1 {
  animation-delay: 550ms;
}
.menu .hr--2 {
  animation-delay: 850ms;
}

.menu-item {
  background-color: white;
  width: 100%;
  height: 70px;
  padding: 1rem 0 1rem 1rem;
  margin: 1rem 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 10px 2px rgba(156, 156, 156, 0.3);
  transform-origin: top;
  animation: animplats 1000ms ease-in-out both;
}
.menu-item--1 {
  animation-delay: 100ms;
}
.menu-item--2 {
  animation-delay: 200ms;
}
.menu-item--3 {
  animation-delay: 300ms;
}
.menu-item--4 {
  animation-delay: 400ms;
}
.menu-item--5 {
  animation-delay: 500ms;
}
.menu-item--6 {
  animation-delay: 600ms;
}
.menu-item--7 {
  animation-delay: 700ms;
}
.menu-item--8 {
  animation-delay: 800ms;
}
.menu-item--9 {
  animation-delay: 900ms;
}
.menu-item--10 {
  animation-delay: 1000ms;
}
.menu-item__contain {
  width: 100%;
  overflow: hidden;
}
.menu-item__details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  overflow: hidden;
}
.menu-item__title {
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .menu-item__title {
    font-size: 1rem;
  }
}
.menu-item__text {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0.3rem;
  margin-right: 0.4rem;
  font-size: 0.9rem;
  text-overflow: ellipsis;
}
.menu-item__price {
  font-weight: bold;
}
.menu-item .check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #99e2d0;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  margin-left: 1rem;
  height: 70px;
  opacity: 0;
  width: 0%;
  transform-origin: right;
  transition: width 100ms ease-in, opacity 10ms;
}
.menu-item .check i {
  transform: rotate(-460deg);
  transition: transform 600ms cubic-bezier(0.31, 0.17, 0.48, 1);
}
.menu-item:hover .check {
  opacity: 1;
  width: 20%;
}
.menu-item:hover .check > i {
  transform: rotate(0);
}

.menu-submit {
  text-align: center;
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
