/*Les boutons type submit*/
.btn {
  padding: 1rem 1rem;
  color: $color-white;
  background: linear-gradient(-10deg, $color-primary, $color-secondary);
  border-radius: 30px;
  @include shadow;
  &--submit{
    padding: 1rem 3.5rem;
  }
  &:hover{
    background-color: lighten($color: #000000, $amount: 10%);
  }
}
/*Les boutons de type select*/
.select-btn{
  background-color: white;
  max-width: 350px;
  height: 70px;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 15px;
  @include shadow;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__contain{
    width: 85%;
  }
  h2{
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
  } 
  p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0.3rem;
    }
  &__text{
    text-overflow: ellipsis;
  }
  }
  .opt-btn__price
  {
    font-weight: bold;
  }
