/*Les boutons type submit*/
.btn {
  padding: 1rem 1rem;
  color: $color-white;
  background: linear-gradient(-10deg, $color-primary, $color-secondary);
  border-radius: 30px;
  @include shadow;
  position: relative;
  opacity: 1;
  transition: opacity 200ms;

  &--submit{
    padding: 1rem 3.5rem;
  }
  
  &:hover {
    opacity:0.8;
    @include shadow (7px, 0.6);
  }
}  




