.card {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  margin: 0.5rem auto;
  position: relative;
  @include shadow;
  
  &__img {
    width: 100%;
    height: 70%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
  }
  &__contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  &__txt {
    margin: 0;
  }
  &__title {
    padding-bottom: 0.2rem;
  }
  &__logo {
    margin-right: 10px;
  }
  .spe{
    position: absolute;
    right: 0;
    top: 0;
  }
  
  &:hover,
  &:focus{
    @include shadow (7px, 0.6);  
  }

  @include tablette-bp {
    width: 45%; /* si plus de 4 restaurants on fixera une 
        max-width en px*/
  }
}


