html{
  box-sizing: border-box;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
section {
  padding: 2rem 1.5rem;
  height: auto;
  
  @include tablette-bp
  {
    padding: 2rem 2rem;
  }
  @include desktop-bp
  {
    padding: 2rem 2.5rem;
  }
}

