html{
    box-sizing: border-box;
}
*,
*:after,
*:before {
  margin: 0 auto;
  padding: 0;
  box-sizing: inherit;
}
section,
footer {
  padding: 40px 20px;
  height: auto;
}
a{
  text-decoration: none;
  color: unset;
}
