html{
  box-sizing: border-box;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
section {
  padding: 2rem 1.5rem;
  height: auto;
  @media screen and (min-width:768px)
  {
    padding: 2rem 2rem;
  }
  @media screen and (min-width:1024px)
  {
    padding: 2rem 2.5rem;
  }
}

