body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.heading {
  font-family: "Shrikhand", cursive;
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}
p {
  font-weight: 300;
}
.card {
  font-size: 1.1rem;
}
