body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.heading
{
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
}
h1{
    font-size: 1.6rem;
}
p{
    font-size: 1.1rem;
    font-weight:300;
}
.card
{
    font-size: 1.1rem;
}
