main{  
    animation: opacity-main 0ms both;
    animation-delay: $load-dur;

}
@keyframes opacity-main{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
.localisation {
    background: $color-bg-input;
    height: 50px;
    @include display-center;
    box-shadow: inset 0px 4px 9px -6px rgba($color-shaddow, 1);
    
    &__txt {
      border: 0;
      background: $color-bg-input;
      font-size: 1.1rem;
      text-align: center;  
      outline: none;
    }
  }
.intro {
    background: $color-bg-light;
    text-align: center;
    h1 {
      padding: 1rem 3rem;
    }
    div {
      padding: 2rem;
    }
}
.liste-fonctionnement{
    @include tablette-bp{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }

.liste-restaurants {
    background: $color-bg-light;
    h1{
        margin-bottom: 1rem;
    }
    .liste-cards {
        display: flex;
        flex-direction: column;
        @include tablette-bp {
        flex-direction: row;
        flex-wrap: wrap;
        }  
    }
}