
$fontsize-h1:(
mobile:(
    font-size: 1.7em,
) 
tablette:(
    font-size: 2em,
)
desktop:(
    font-size: 2.4em,
)
);




@function rem($size, $base:$fontsize-h1){
    @return 1rem * $size / $base;
}

@function em($size, $base:$fontsize-h1){
    @return 1em * $size / $base
}