@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin shadow {
  box-shadow: 0px 5px 10px 2px rgb($color-shaddow, 0.3);
}

@mixin desktop-only {
  @media screen and (min-width:1024px){
    @content;
  }
}
@mixin tablette-only {
  @media screen and (min-width:768px){
    @content;
  }
}
   