$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-txt: black;
$color-white: white;
$color-shaddow:rgb(78, 78, 78);
$color-bg : #F6F6F6;
$color-bg-input: #EAEAEA;
$color-bg-footer: #353535;