.footer {
  background: $color-bg-dark;
  color: $color-white;
  padding: 2rem 1.5rem;
  height: auto;
  
  &__ul {
    list-style: none;
    margin-top: 1rem;
  }
  li {
    padding: 0.2rem;
    i{
      width: 15px;
      font-size: 15px;
      padding-right: 25px;
    }
  }
  &__heading
  {
    font-size: 1.2rem;
  }
}

