.header
{
    height: auto;
    width: 100%;
    margin-top: 0.5rem;
    @include display-center;
    &--page{
        justify-content: space-between;
    
    i{
        font-size: 20px;
        margin-left: 20px;    
    }
    .vide i{
        color: transparent;
    }
}
}


